*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Mycollectionsss {
    width: 100%; 
    border: 2px solid red;
    margin-top: 70px;
}
.colle{
 width: 70%;
 height: 410px;
 border: 2px solid black;
margin: auto;
display: flex;
justify-content: space-between
}
.my-fits{
    width: 200px;
    height: 340px;
    border: 2px solid blue;
    border-radius: 5%;
    box-shadow: 10px 10px 5px rgb(228, 235, 238);
}
.my-images{
    width: 200px;
    height: 280px;
    border: 2px solid black;
    gap: 40px;
}
.img1{
    width: 100%;
}
.img2{
width: 100%;
height: 250px;
}