.collections img{
    width: 270px;
}

.oldtag{
   font-size: 13px;
   color: red;
   text-decoration: line-through;
}
.newtag{
    font-size: 17px;  
}
#kidsbanner{
    width: 85%;
    height: 400px;
    padding-left: 160px;
}