* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  /* margin-top: 1450px; */
}

.navbar-div {
  width: 100% !important;
  padding: 8px 16px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 3px #cccccc73;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo-div {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bag {
  width: 20%;
  height: 60px;
}

#header {
  font-weight: 500;
  color: blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 5px;
  text-shadow: 1px 2px 3px #00000048;
}

.nav-menu-div {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  color: #000;
  font-size: 18px;
  font-weight: bold ;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

#highlight {
  position: relative; 
  z-index: 10; 
  background-color: #f0f0f0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: scale(1.1);
  transition: all 0.3s ease-in-out; 
}


.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #FF4141;
}

.icons-login-div {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.icon {
  width: 50%;
}

.icon {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
  border: 1px solid #000;
}

.notifi {
  width: 60%;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
  transition: filter 0.3s ease;
  color: blue;
  background: #656565;
  transition: transform 0.5s ease-in-out;
}

.notifi:hover {
  background: blue;
  transform: rotate(360deg);
}


.icon:hover {
  filter: invert(32%) sepia(86%) saturate(5489%) hue-rotate(340deg) brightness(100%) contrast(108%);
}

.icons-login-div button {
  width: 20%;
  height: 40px;
  margin-top: 5px;
  outline: none;
  border: none;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.3s ease; 
}

.icons-login-div button:hover {
  background: #f3f3f3;
  box-shadow: 0 0 10px 3px rgba(255, 0, 150, 0.5), 
              0 0 20px 5px rgba(0, 204, 255, 0.5), 
              0 0 30px 7px rgba(0, 255, 127, 0.5);
}



.nav-shopping-count {
  width: 18px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: #ffff;
}

.icon {
  padding-left: 25px;
  width: 55px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#login-box {
  margin-top: 8px;
  margin-left: 10px;
  width: 80px;
  height: 30px;
}

.user-initials {
  background-color: #007bff; /* Example color */
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
